<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Contact Us</h1>
    <form action="#" th:action="@{/send-email}" th:object="${email}" method="post">
    	<p>Name <input type="text" th:field="*{clientName}" /></p>
        <p>Your email: <input type="email" th:field="*{clientEmail}" /></p>
        <p>Subject <input type="text" th:field="*{subject}" /></p>
        <p>Message: <textarea th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
